.info--block{
    margin-top: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.info--block__container{
    width: clamp(300px ,90vw, 1140px);
    height: 200px;
    background-color: var(--light);
    border-radius: var(--radius-s);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.info--block__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.info--block__text{
    display: flex;
    flex-direction: column;

}

.info--block__quantity{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

.info--block__name{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--bage-color);
}


.devider{
    width: 2px;
    height: 125.57px;
    background-color: #EEEFF2;
}

.subcsribe {
    margin-top: 150px;
    margin-inline: 20px;
    width: clamp(300px ,90vw, 1140px);
    height: 233px;
    border-radius: var(--radius-s);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--light);
    z-index: 2;
}
.subcsribe__text-block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;


}
.subcsribe__title {
    max-width: 371px;
    font-size: var(--font-x);
    font-weight: 400;
    line-height: 40px;
    text-align: left;

}
.subcsribe__desc {
    max-width: 410px;
    font-size: var(--font-s);
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}

@media (max-width:650px) {
    .info--block{
        margin: 100px 5px;
    }
    
    .info--block__container{
        width: clamp(80vw ,90vw, 1140px);
        height: 150px;
    }
    
    
    .info--block__quantity{
        font-size: 16px;
        font-weight: 500;
    }
    
    .info--block__name{
        font-size: 14px;
        font-weight: 400;
    }

    .subcsribe {
        margin-top: 50px;
        margin-inline:0px;
        height: 150px;
        padding: 20px;
    }
    .subcsribe__text-block {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    
    }
}

@media (max-width:480px) {
    .info--block__container{
        height: 100px;
    }
    .info--block__content svg{
        width: 35px;
        height: 35px;
    }
    .devider{
        width: 2px;
        height: 80%;
        background-color: #EEEFF2;
    }

    .subcsribe {
        margin-top: 50px;
        margin-inline:0px;
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .subcsribe__text-block {
      display: flex;
      flex-direction: column;
      row-gap: 0px;
    } 


}

