
.customers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    z-index: 10;
}

.customers__logo {
    max-width: 1060px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.customer__logo-logo{
    width: 190px;
    height: 60px;
    object-fit: contain;
}

.customers__logo-amazon{
    width: 277px;
    height:200px ;
}
.customer__title {
    max-width: 447px;
    font-size: var(--font-x);
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    padding: 20px;


}
.customer__desc {
    margin-top: 30px;
    max-width: 555px;
    font-family: Rubik;
    font-size: var(--font-s);
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: var(--bage-color);
    padding: 10px;
}



.customer__cards {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    justify-content: center;
}

.card-container{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    overflow: scroll;
}


.customer__card {
    width: 400px;
    height: 230px;
    padding: 20px;
    background-color: green;
    background-color: var(--light);
    border-radius: var(--radius-s);
    border: 2px var(--light) solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    transition: border 200ms ease;
    &:hover{
        border: 2px var(--accent-color) solid;
    }
}
.customer__card--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.customer__card--header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}
.customer__card__user--photo{
    width: 50px;
    height: 50px;
    object-fit: contain;

}
.customer__card__user--info {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.customer__card__user--name {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;

}
.customer__card__user--adress {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: var(--bage-color);
}

.cusumer__card--raiting{
    font-size: var(--font-s);
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}
.customer__card--comm {
    font-size: var(--font-s);
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    overflow: scroll;
}

.customer__card__actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.customer__card--dots{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.circle{
    height: 15px;
    width: 15px;
    background-color: #DDE0E4;
    border-radius: 50%;
}
.customer__card--buttons{
    margin-right: 100px ;
}

.customer__card-btn{
    margin: 6px;
    width: 60px;
    height: 60px;
    border: 2px var(--accent-color) solid;
    background-color: var(--light);
    cursor: pointer;
    border-radius: 50%;
    transition: backgound-color 300ms;

    &:active{
        background-color: var(--accent-color);
        & svg *{
            fill: var(--light);
        
        }
    }

}


@media (max-width:982px) {
    .customers__logo {
        width: 95vw;
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .customer__logo-logo{
        width: 90px;
        height: 40px;
        object-fit: contain;
    }
    .customers__logo-amazon{
        width: 120px;
        height: 90px;
        object-fit: fill;
    }
    .customer__card {
        width: 300px;
        height: 200px;
        padding: 20px;
        row-gap: 14px;
    }
    .customer__card__actions{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }


}

@media (max-width:650px) {
    .customer__card__actions{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
    }
    .customer__card--dots{
        display: flex;
        flex-direction: row;
        column-gap: 10px;
    }
    .customer__card--dots svg{
        width: 30px;
        height: 10px;
    }
    .circle{
        height: 10px;
        width: 10px;
        background-color: #DDE0E4;
        border-radius: 50%;
    }
    .customer__card--buttons{
        margin-right: 0px ;
    }
    
    .customer__card-btn{
        width: 40px;
        height: 40px;
        border: none;
    
    }

}

@media (max-width: 490px) {
    .customer__logo-logo{
        width: 50px;
        height: 40px;
        object-fit: contain;
    }
    .customers__logo-amazon{
        width: 90px;
        height: 90px;
        object-fit: fill;
    }
}