.features{
    margin:60px 150px ;
    display: flex;
    justify-content: center;

}

.features__container{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    height: 414px;
    box-sizing: border-box;
    align-items: center;
}

.feature__img{
    width: 508px;
    height: 414px;
}
.feature__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
}
.feature__title{
    font-size: var(--font-x);
    font-weight: 500;
}

.feature__desc{
    font-size: var(--font-s);
    font-weight: 400;
    color: var(--base-color);
}

.feature__list{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.feature__list__elem{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}
.feature__list__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

@media(max-width:1250px){
    .features{
        margin:60px 40px;
        display: flex;
        justify-content: center;
    
    }
    
}

@media(max-width:982px){
    .features{
        margin:60px 40px ;
        display: flex;
        justify-content: center;
    
    }
    
    .features__container{
        position: relative;
        display: block;
        box-sizing: border-box;
        align-items: center;

        width: 80vw;
        min-height:  414px;;
        max-height: auto;
    }
    .feature__img{
        
        position: absolute;
        z-index:2;
        opacity: 0.6;
        top: -50px;
        right: 100px;
    }
    .feature__content{
        position: absolute;
        z-index: 3;
    }
}