.footer{
    margin-top: -120px;
    background: #F8F8F8;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    z-index: -1;
}

.footer-container{
    padding-top: 150px;
    display: grid;
    width: 1140px;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
}

.grid-1{
    grid-column: 1/5;
}

.footer__desc{
    margin-top: 20px;
    width: 340px;
    font-size: var(--font-s);
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: var(--bage-color);
}

.social-container {
    margin-top: 20px;
    display: inline-flex;
    gap: 20px;
}
.social {
    background-color: var(--light);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;

}

.social a svg *{
    fill: var(--accent-color);
}

.footer__list{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.footer__list--title{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: black;
}


.footer__list-text li a{
    font-size: var(--font-s);
    color: var(--bage-color);
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-decoration: none;
    transition: color 300ms ease;
    &:hover{
        text-decoration: underline;
    }
}

@media (max-width:982px) {
    .footer{
        height: auto;
        width: 100%;
        padding: 20px 0;
    }
    .footer-container{
        width: 90vw;
    }

}

@media (max-width:743px) {
    .footer-container{
        width: 90vw;
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-1{
        grid-row: 3/3;
        margin-top: 30px;
    }
}