.header{
    margin: 60px 150px;

}
.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;

}
.logo__text{
    font-size: 20px;
    font-weight: 500;
    line-height: 23.7px;
}
.bold{
    font-weight: 700;
}
.nav{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}
.nav--text{
    font-size: var(--font-s);
    font-weight: 400;
    color: var(--bage-color);
    text-align: center;
    text-decoration: none;
}
.header__buttons{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.header__button-signIn{
    font-size: var(--font-s);
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    background-color: var(--light);
    border-radius: var(--radius-x);
}

.header__button-signUp{
    font-size: var(--font-s);
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    color: #F53855;
    background-color: var(--light);
    border-radius: var(--radius-x);
}
.transition{
    transition: background-color;
    transition-duration: 200ms;
}

.header__button-signIn:active ,.header__button-signUp:active{

    border-radius: var(--radius-x);
    background-color: var(--bage-color);
    
}
