.plan {
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.plan__title {
    margin-top: 60px;
    font-size: var(--font-x);
    font-weight: 500;
    line-height: 50px;
    text-align: center;

}
.plan__desc {
    font-size: var(--font-s);
    padding: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: var(--bage-color);

}
.cards {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.card__elem {
    position: relative;
    width: 330px;
    height: 760px;
    border: 2px solid #DDDDDD;
    border-radius: var(--radius-s);
    display: flex;
    background-color: var(--light);
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 40px 0;
    transition: border 300ms ease-in;
    &:hover{
        border: 2px solid var(--accent-color);
    }
}
.card__elem__name {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}
.card__elem__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
}
.card__list--elem {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: var(--bage-color);
}


.card__price {
    bottom: 90px;
    position: absolute;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.month {
    color: #4F5665;
}
.card__button{
    bottom: 20px;
    position: absolute;
    width: 177px;
    height: 45px;
    border-radius: var(--radius-x);
    border: 2px var(--accent-color) solid;
    background-color: var(--light);
    transition: all;
    transition-duration: 200ms;
    /* button typografy */

    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
 
    &:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    &:active {
        background-color: var(--accent-color);
        color: var(--light);
    }
   
}

@media (max-width: 982px) {
    .plan{
        padding: 10px;
    }

    .card__elem {
        position: relative;
        width:250px ;
        height: 450px;
        border: 2px solid #DDDDDD;
        border-radius: var(--radius-s);
        display: flex;
        background-color: var(--light);
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .card__elem img{
        width: 100px;
        height: 100px;
    }
    .card__elem__name {
        margin-top: 20px;
        font-size: var(--font-s);
        font-weight: 500;
    }
    .card__elem__list {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 0px;
    }

    .card__list--elem{
        font-size: 12px;
        font-weight: 400;
    }
    .card__price {
        bottom: 60px;
        position: absolute;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
    }
    .card__button{
        bottom: 10px;
        width: 150px;
        height: 35px;
        font-size: 14px;
        font-weight: 500;
    }


}
@media (max-width:650px) {

}